@tailwind base;
@tailwind components;
@tailwind utilities;


/* Agrega las clases de animación para fade-in y fade-out */

/* Clase de animación para fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out; /* Puedes ajustar la duración según tus necesidades */
}

/* Clase de animación para fade-out */
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 0.5s ease-in-out; /* Puedes ajustar la duración según tus necesidades */
}