@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Moirai+One&display=swap");
:root {
  --text: #040901;
  --background: #f5f6fb;
  --background-box: #ffffff;
  --primary-button: #54ce12;
  --secondary-button: #f2fdec;
  --accent: #5de614;
  --not-read: #ff6d60;
  --read: #98d8aa;
  --border-radius: 15px;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grandiflora One", serif;
  color: var(--text);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--background);
  padding: 25px;
}

/* Login */
.container   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  
  min-height: 100vh;
}

.container h1   {
  font-size: 50px;
  font-family: "Moirai One", cursive;
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background-color: var(--background-box);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}
/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 200px;
  background-color: var(--background-box);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
h1 {
  font-family: "Moirai One", cursive;
  font-size: 50px;
}

/* MAIN */

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 6%;
}

.title__container {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
h2 {
  font-size: 40px;
  margin-bottom: 15px;
  font-family: "Moirai One", cursive;
}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.separator {
  height: 100%;
  width: 2px;
  background: black;
}

.table__container {
  background-color: var(--background-box);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
}

table {
  border-collapse: collapse;
}

thead {
  font-size: 25px;
}

td,th {
  padding: 5px 10px;
}
tr {
  border-bottom: 1px solid;
}

/* FORM */

select {
  padding: 5px;
  border-radius: var(--border-radius);
  border: 1px solid;
  font-size: 1rem;
}

input {
  padding: 5px 25px;
  border-radius: var(--border-radius);
  border: 1px solid;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: var(--primary-button);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease-in-out;
}

form .delete__button {
  background-color: var(--not-read);  
}

form .delete__button:hover {
  background-color: #ff3d3d;
}

form .update__button {
  background-color: var(--read);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* POPUP*/
.popup__container  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(5px);

  display: none;
  justify-content: center;
  align-items: center;
}

.popup__container--active {
  display: flex;
  flex-direction: column;
}

.popup__container .wrapper {
  background-color: var(--background-box);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
  width: 50%;
  position: relative;
}

.popup__container .close__button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: flex;
}
.popup__container .close__button svg {
  fill: var(--text);
  width: 100%;
  height: 100%;
}

.popup__container form {
  display: flex;
  flex-direction: column;
}

.popup__container form label {
  margin-bottom: 10px;
}

.popup__container form input {
  margin-bottom: 15px;
}

.popup__container form input[type="submit"] {
  margin-top: 25px;
}

.create__container form {
  display: flex;
  justify-content: end;
  padding-top: 25px;
}