/* //////////////////////////////// */
/* HERO */
/* //////////////////////////////// */
.section__hero {
  background-image: url("../img/howTo/hero2.jpg");
}

/* //////////////////////////////// */
/* TEXTUAL HIGHLIGHTS*/
/* //////////////////////////////// */

.textual-highlights .image__container {
  background-image: url("../img/howTo/textHighlights.jpg");
}

/* //////////////////////////////// */
/* FULL WIDTH SECTION */
/* //////////////////////////////// */
.full-width__row-1 .full-width__image {
  background-image: url("../img/howTo/airTravel2.jpg");
}

.full-width__row-2 .full-width__image {
  background-image: url("../img/howTo/seaVoyage.jpg");
}

/* //////////////////////////////// */
/* AIRPORTS */
/* //////////////////////////////// */

.airport__container {
  display: flex;
  gap: 5%;
  margin-bottom: 75px;
}

.airports__container .section-title {
  margin-bottom: 50px;
}

.airport__text {
  flex: 7;
}

.airport__image {
  flex: 6;
}
.airport__image {
  background-position: center;
  background-size: cover;
}

.airport-1 .airport__image {
  background-image: url("../img/howTo/aucklandAirport.jpg");
}
.airport-2 .airport__image {
  background-image: url("../img/howTo/wellington-airport.jpg");
}
.airport-3 .airport__image {
  background-image: url("../img/howTo/christchurchAirport.jpg");
}

/* //////////////////////////////// */
/* BANNER */
/* //////////////////////////////// */
.banner-separator {
  background-image: url("../img/howTo/banner-separator.jpg");
}

/* //////////////////////////////// */
/* HOTELS */
/* //////////////////////////////// */
.featured__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured__title .price {
  font-size: 1.1rem;
  color: #545454;
}

.featured__title .price span {
  font-size: 0.9rem;
}

.featured__text a {
  margin: 0 auto;
}

/* //////////////////////////////// */
/* MEDIA QUERIES */
/* //////////////////////////////// */

@media screen and (max-width: 768px) {
  /* //////////////////////////////// */
  /* ARRIVING */
  /* //////////////////////////////// */
  .full-width__row {
    flex-direction: column-reverse;
  }
  /* //////////////////////////////// */
  /* AIRPORT */
  /* //////////////////////////////// */
  .airport__container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .airport__text {
    display: flex;
    flex-direction: column;
  }

  .airport__container a {
    align-self: center;
  }

  .airport__image {
    flex: auto;
    aspect-ratio: 16 / 9;
  }

  /* //////////////////////////////// */
  /* HOTELS */
  /* //////////////////////////////// */

  .hotels .section-title {
    font-size: 1.7rem;
  }

  /* //////////////////////////////// */
  /* BANNER */
  /* //////////////////////////////// */
  .banner-separator {
    aspect-ratio: 9 / 16;
  }
}
