/* //////////////////////////////// */
/* HERO */
/* //////////////////////////////// */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/home/hero.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 120px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}
.hero__container h1 {
  font-size: clamp(3rem, 1.2727rem + 7.2727vw, 10rem);
  font-weight: 600;
  flex: 10;
  text-align: center;
  color: #333333e8;
}

.hero__container h2 {
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: 0.1rem;
}

/* //////////////////////////////// */
/* TEXTUAL HIGHLIGHTS*/
/* //////////////////////////////// */

.textual-highlights .image__container {
  background-image: url("../img/home/green.jpg");
}
/* //////////////////////////////// */
/* WELCOME */
/* //////////////////////////////// */

.welcome {
  display: flex;
  justify-content: center;
}

.welcome__container {
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  flex: 5;
  text-align: justify;
}

.welcome__image {
  flex: 8;
  background-image: url("../img/home/welcome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* //////////////////////////////// */
/* FULL WIDTH SECTION */
/* //////////////////////////////// */
.full-width__row-1 .full-width__image {
  background-image: url("../img/home/maori.jpeg");
}

.full-width__row-2 .full-width__image {
  background-image: url("../img/home/treaty.jpg");
  background-position: right;
}

.full-width__row-3 .full-width__image {
  background-image: url("../img/home/otago.jpg");
}

/* //////////////////////////////// */
/* BANNER */
/* //////////////////////////////// */
.banner {
  padding: 150px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/home/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner__wrapper {
  display: flex;
  color: white;
}

.banner__wrapper .banner__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.banner__wrapper .banner__column .banner__icon {
  height: 55px;
  margin-bottom: 50px;
}

/* //////////////////////////////// */
/* NATURE PARKS */
/* //////////////////////////////// */

.nature-parks__grid {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 1600px;
}

.grid__row {
  display: flex;
  gap: 20px;
  width: 100%;
  flex: 1;
}

.grid__column {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.grid__image {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  cursor: crosshair;
}

.grid__image .overlay {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

.grid__image .horizontal-overlay {
  transform: translateX(-100%);
}
.grid__image:hover .horizontal-overlay {
  transform: translateX(0%);
}

.grid__image .vertical-overlay {
  transform: translateY(-100%);
}
.grid__image:hover .vertical-overlay {
  transform: translateY(0%);
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid__image-1 {
  background-image: url("../img/home/egmont.jpg");
}

.grid__image-2 {
  background-image: url("../img/home/fiordland-national-park.jpg");
}

.grid__image-3 {
  background-image: url("../img/home/mount–aspiring-national-park.jpg");
}

.grid__image-4 {
  background-image: url("../img/home/kahurangi-national-park.jpg");
}

.grid__image-5 {
  background-image: url("../img/home/tongariro-national-park.jpg");
}

.grid__image-6 {
  background-image: url("../img/home/abel-tasman-national-park.jpg");
}

/* //////////////////////////////// */
/* MEDIA QUERIES */
/* //////////////////////////////// */

@media screen and (max-width: 1200px) {
  .scroll__container {
    display: none;
  }

  .welcome__container {
    flex-direction: column;
  }

  .welcome__container > div {
    flex: none;
  }

  .welcome__container .welcome__image {
    margin-top: 50px;
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  .hero .social__container {
    width: auto;
    margin-left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .banner__wrapper {
    flex-direction: column;
    gap: 50px;
    padding: 0 5%;
  }
  .banner, .hero {
    background-attachment: unset;
  }


  .nature-parks__grid {
    height: auto;
  }
  .grid__row {
    flex-direction: column;
    flex: none;
  }
  .grid__column {
    flex: none;
  }
  .grid__image {
    height: 300px;
  }


  /* //////////////////////////////// */
  /* WELCOME */
  /* //////////////////////////////// */
  .welcome .section-title {
    text-align: left;
  }
}

@media screen and (max-width: 402px) {
  .hero .title__row h2 {
    justify-content: center;
    margin-top: 15px;
  }
  .hero .title__row .line {
    display: none;
  }
}
